h1{
	text-align: center;
	font-style: italic;
	font-family: helvetica;
	color: gray;
}
*{
	box-sizing: border-box;
}
.content{
	border: 1px solid black;
	background-color: gray;
	position: relative;
	padding:10px;
	margin:10px;
}
#box{
	border:1px solid black;
	background-color: pink;
	color: black;
	float-right: top;
	display: block;
	width:10%;
	text-align: center;
	margin-left: 90%;
	position: relative;	
    margin-top: 0px;

}
 #bit{
	border:1px solid black;
	background-color: red;
	color: black;
	float-right: top;
	display: block;
	width:10%;
	text-align: center;
	margin-left: 90%;
	position: relative;	
    margin-top: 0px;

}
 #bat{
	border:1px solid black;
	background-color: yellow;
	color: black;
	float-right: top;
	display: block;
	width:10%;
	text-align: center;
	margin-left: 90%;
	position: relative;	
    margin-top: 0px;

}

@media (max-width: 767px){

}